<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/user/assets/css/custom-bs.css}">
    <link rel="stylesheet" th:href="@{/user/assets/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{/user/assets/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/user/assets/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/user/assets/fonts/line-icons/style.css}">
    <link rel="stylesheet" th:href="@{/user/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/user/assets/css/animate.min.css}">
<!--    <link rel="stylesheet" th:href="@{/user/assets/css/style.css}">-->
    <link rel="stylesheet" th:href="@{/css/styles.css}">


    <script th:src="@{/user/assets/js/jquery.min.js}"></script>
    <script th:src="@{/user/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/user/assets/js/isotope.pkgd.min.js}"></script>
    <script th:src="@{/user/assets/js/stickyfill.min.js}"></script>
    <script th:src="@{/user/assets/js/jquery.fancybox.min.js}"></script>
    <script th:src="@{/user/assets/js/jquery.easing.1.3.js}"></script>
    <script th:src="@{/user/assets/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/user/assets/js/jquery.animateNumber.min.js}"></script>
    <script th:src="@{/user/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/user/assets/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/user/assets/js/custom.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>
<body>
<!-- Sidebar -->
<div th:replace="~{sidebar :: sidebar}"></div>

<!-- Main Content Area -->
<div class="content" th:fragment="content (pageContent)">
    <th:block th:replace="${pageContent}"></th:block>
</div>
</body>
</html>
